#nav-bar {
  background-color: #fff;
  display: flex;
  height: 50px;
}

#back-btn, #forward-btn, #search-bar, #search-btn {
  height: 30px;
  margin: 10px;
}

#back-btn, #forward-btn {
  background-image: url('back-forward-btn.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  cursor: pointer;
  width: 20px;
}

#back-btn:hover, #forward-btn:hover {
  opacity: 0.5;
}

#search-bar {
  border: none;
  flex-grow: 1;
  font-size: 16px;
  outline: none;
}

#search-btn {
  background-image: url('search-btn.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  cursor: pointer;
  width: 20px;
}

#search-btn:hover {
  opacity: 0.5;
}

#iframe {
  border: none;
  height: calc(100vh - 50px);
  width: 100%;
}
